[defaults]
inventory = inventory.ini
host_key_checking = False
# PIpelining is the #1 fix for slow tasks
pipelining = True
# Don't spend time gathering system info
gather_facts = False

[ssh_connection]
# ControlMaster keeps the IAP tunnel alive for the whole playbook
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ConnectionAttempts=100
# Important: some runners have issues with long socket paths. Use this format:
control_path = /tmp/ansible-ssh-%%h-%%p-%%r